:root {
    --color-white: #FFFF;
    --color-greyish-white: #dbd8d8;
    --color-reddish-pink: #FF0040;
    --color-light-reddish-pink: #df1e4e;
    --color-light-reddish-pink-2: #fc0a47;
    --color-dark-grey: #41464e;
    --color-bluish-black: #151A23;
}

/* ---- CONFIG GERAL ---- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p, h2 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

body {
    background-color: var(--color-bluish-black);
}

/* ---- HEADER ---- */

.header {
    display: flex;
    align-items: center;
    border-bottom: solid 1px var(--color-dark-grey);
}

.logo {
    height: 60px;
}

.header-menu {
    width: 100%;
}

.header-menu .navbar .navbar-nav .nav-item a {
    color: var(--color-white);
    transition: 0.2s;
}

.header-menu .navbar .navbar-nav .nav-item  a:hover {
    color: var(--color-reddish-pink);
}

.header-menu .d-flex button {
    border: none;
    background-color: var(--color-light-reddish-pink);
    color: var(--color-white);
    transition: .3s;
}

.header-menu .d-flex button:hover {
    background-color: var(--color-light-reddish-pink-2);
    color: var(--color-white);
}

/* ---- MAIN ---- */

.image {
    background-size: cover;
}

.space::after {
    content: "|";
    margin: 0 10px;
}

.main {
    color: var(--color-greyish-white);
}

.subtitle {
    color: #ffffff;
}

/* LANÇAMENTOS */

.title {
    text-align: center;
    color: var(--color-white);
}

/* CAROUSEL */

/* .carousel-inner {
    padding: 0 12%;
} */

.carousel-item iframe {
    min-width: 100%;
    min-height: 100%;
}

strong {
    color: var(--color-light-reddish-pink);
}

.text-justify {
    text-align: justify;
}

.cast p::after {
    content: "|";
    margin: 0 10px;
}

/* DESTAQUE */

.dropdown button {
    width: 158px;
    color: var(--color-white);
    border: 2px solid var(--color-white);
}

.featured-images {
    cursor: pointer;
    background-size: cover;
    width: 100%;
    height: 350px;
} 

.button-big {
    background-color: var(--color-reddish-pink);
    color: var(--color-white);
    border-radius: 15px;
    border: none;
    padding: 10px 20px;
    transition: 0.3s;
    cursor: pointer;
}

.button-big a {
    color: inherit;
}

.button-big:hover {
    background-color: var(--color-light-reddish-pink);
}

/* NOVIDADES */

.tag {
    background-color: var(--color-light-reddish-pink);
    padding: 2px 5px;
    border-radius: 10px;
}

.social-network-icons  {
    font-size: 20px;
    color: var(--color-white);
}

.social-network-icons:hover {
    color: var(--color-light-reddish-pink);
    transition: 0.3s;
}

/* ---- FOOTER ---- */
.footer {
    background-color: var(--color-dark-grey);
    color: var(--color-greyish-white);
    padding: 15px 0;
}

.footer p {
    margin-bottom: 0;
}